/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 /* 584D3D dark lava */
 /* 9F956C artichoke */
 /* CBBF7A Misty Moss */
 /* F4E87C Yellow Crayola */
 /* EBF38B Key Lime */

/* To create Sticky Footer */
body {
/* locks website width but not viewing width */
display: flex;
min-height: 100vh;
flex-direction: column;
background-color: #CBBF7A;
min-width: 28em;
} 

main {
  flex: 1 0 auto;
} 

/* Header Styling */
.header-wrapper {
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: white;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}
  
/* Background Picture */
#form-container {
  height: 350px;
  width: 100%; 
  margin-bottom: 5px;
  background-image: url("../Images/Coffee\ Background.jpg");
  background-size: cover; 
  background-position: center;
}

/* Form Styling */

  /* Background Picture */
#form-container {
  height: 350px;
  width: 100%; 
  margin-bottom: 5px;
  background-image: url("../Images/Coffee\ Background.jpg");
  background-size: cover; 
  background-position: center;
}

#location-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

  /* Input Styling */
#city-name {
  color: white;
  background-color: transparent;
  width: 80%;
}

#inputCol {
  margin-top:0px;
  margin-left: 0px;
  padding-top:0px;
}

input::placeholder {
  color:white;
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

 input::placeholder {
  color:white;
}

/* Button Styling */
#searchBtn {
  position: absolute;
  height: 80%;
  min-height: 20px;
  line-height: 20px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Daily Info Styling */

#current-date {
  margin-left: 3.5rem;
  color: white;
}

#current-city {
  margin-left: 3.5rem;
  color: white;
}

#temp {
  margin-left: 2.75rem;
  color: white;
}

/* #current-icon {

} */

/* Card Styling */
.card {
    background-color: #9F956C;
}

/* Google map styling*/
#map {
height: 400px;
width: 100%;
}
  
/* Footer styling*/
#footer {
  background-color: #584D3D;
}
